<header id="header">[% nav.render %]</header>
<aside id="sidebar" class="sidebar link-display-[% nav.link_display %]">
</aside>
<div id="frame" class="frame">
   <div id="[% nav.container_name %]" class="[% nav.container_class %]">
      <div id="[% nav.content_name %]" class="[% nav.content_class %]">
[% content %]
      </div>
   </div>
</div>
<footer id="footer">
  <span class="version-number">v[% version %]</span>
</footer>
