#colours() {
    contrast: whitesmoke;
    line-border: gray;
    panel-shadow: gray;
    tile-active: lightgreen;
    tile-inactive: lightgray;
    text: black;
}
.state-container {
    position: relative;
    .diagram-container {
        align-items: flex-start; display: flex;
        .box-table {
            display: none; flex-direction: column;
        }
        .box-table.open, .box-row {
            display: flex;
        }
        .box-tile, .job-tile {
            border: 1px solid #colours[line-border]; border-radius: 5px;
            box-shadow: 3px 3px 3px #colours[panel-shadow];
            color: #colours[text]; margin: 0.25rem; padding: 0.25rem;
        }
        .box-tile .title {
            align-items: center; display: flex; justify-content: space-between;
            .box-toggle {
                color: #colours[contrast]; cursor: pointer; height: 20px;
                margin-left: 1rem; width: 20px;
            }
            .box-toggle.reversed {
                transform: rotate(180deg);
            }
        }
        .box-tile.active, .job-tile.active {
            background: #colours[tile-active];
        }
        .box-tile.inactive, .job-tile.inactive {
            background: #colours[tile-inactive];
        }
        .title a {
            cursor: pointer; text-decoration: none;
        }
    }
    .dependencies {
        height: 100%; left: 0; pointer-events: none; position: absolute;
        top: 0; width: 100%;
    }
}
